* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.Header {
  background-color: #b1b1b1;
  padding-left: 10px;
  padding-right: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b13333;
  background-image:url("./imgs/header.png");
  background-size: cover;
}

.App{
  background-image:url("./imgs/background3.png");
  background-size: cover;
}

.Nav {
  list-style: none;
  display: flex;
}

.Nav h1 {
  margin-right: 20px;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #8f8f8f;
  color: #000000;
  bottom:0;
  width:100%
}


.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.image {
  width: 650px;
  height: 500px;
  border-radius: 10px;
  border: 2px solid #000000;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.welcome {
  display: flex;
  justify-content: center;
  background-color: #fefefe;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
}

.container {
  background-color: rgb(150, 216, 216);
  margin: 40px auto;
  width: 90%;
  border: 1px solid #000000;
  box-shadow: 1px 1px 4px 1px lightgray;
}

.container form {
  width: 100%;
  padding: 10px;
}

.container label {
  display: block;
  letter-spacing: 0.1rem;
  font-style: italic;
  margin-bottom: 3px;
}

.container input, 
.container textarea {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 1px 1px 4px 1px rgb(58,57,57);
}
.container input:focus, 
.container textarea:focus {
box-shadow: 1px 1px 4px 1px rgb(49,170,240);
}

.singleItem {
  margin: 10px 0;
}

.btn {
  width: 100%;
  text-align: center;
}

.btn button {
  width: 150px;
  font-size: 18px;
  letter-spacing: 0.2rem;
  padding: 5px 10px;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin-top: 5px;
  /* border: 2px solid #000000; */
}
.btn button:hover {
  border: 1px solid #fefefe;
  background-color: rgb(199,202,199);
  cursor: pointer;
}

.msg {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
  font-style: italic;
  width: 340px;
  padding: 3px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(38, 187, 61);
  background-color: #fefefe;
  border-radius: 5px;
  display: none;
}

.msgAppear {
  display: block;
}

@media screen and (min-width:664px) {
  .container{
  width: 60%;
}  
}
@media screen and (min-width:986px) {
  .container{
  width: 40%;
}  
}